.page{
    position: relative;
    box-sizing: border-box;
    border: 1px soild black;
    width: 430px;
    background: linear-gradient(to top right,rgb(53, 238, 198),rgb(146, 70, 197));
    height: 670px;
    padding: 20px;
    margin: 1% auto;
    
}
.box{
    position: relative;
    box-sizing: border-box;
    background-color: rgb(252, 252, 252);
    border: none;
    padding: 25px 36px;
    width: 350px;
    margin: 4% auto;
    height: 600px;
    border-radius: 10px;
}
.title{
    position: relative;
    font-size: 26px;
    font-weight: 900;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
.text{
    background-color: rgb(255, 252, 252);
    border: none;
    outline: 0;
    font-size: 13px;
    width: 210px;
    padding: 10px;
    margin: 1% 0 -2% -1%;
   }

.usrname{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 13px ;
}
.user{
    padding-top: 45px;
}
.fa-regular{
    padding-left: 5px;
}
.line{
    margin-bottom: 10%;
}
.forgot{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 13px;
    margin-left: 64%;
}
.button{
    margin-top: 12%;
    width: 270px;
    padding: 10px;
    font-size: 12px;
    border-radius: 20px;
    text-align: center;
    color: aliceblue;
    cursor: pointer;
    border: none;
    background:linear-gradient(to right,rgb(53, 238, 198),rgb(182, 25, 143)) ;
}
.sign{
    color: rgb(139, 135, 131);
    margin-top: 14%;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 12px;
}
.facebook{
    color: rgb(17, 3, 56);
    box-sizing: border-box;
    border-radius: 35px;
    display: inline-block;
    width: 50px;
    padding: 15px;
    margin: 5% 1% 10% 22%;
    cursor: pointer;
}
.input{
    color: aliceblue;
    box-sizing: border-box;
    background-color:rgb(24, 106, 212) ;
    border-radius: 50px;
    display: inline-block;
    width: 32px;
    padding: 7px 9px;
    cursor: pointer;
    margin-right: 1%;
}
.google{
    color: aliceblue;
    box-sizing: border-box;
    background-color:rgb(190, 22, 22) ;
    border-radius: 50px;
    display: inline-block;
    width: 32px;
    padding: 7px 9px;
    cursor: pointer;
}
.signup{
    font-size: 15px;
    text-align: center;
    padding-top: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}